body{
	margin:0;
	/*font-family: sans-serif;*/
	background-color: gray;
}
  p{
	color: #f5f6fa;
	font-family: serif;
	font-size: 30px;
}
#logo {
		width: 550px;
		border-radius: 10px 100px / 120px;
}
#container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	flex-direction: column;
	font-family: sans-serif;
}
#field{
	font-family: system-ui;
	font-size: 40px;
	font-weight:bold;
}
#slogan{
	font-size: 20px;
	font-family:cursive;
}