body{
	margin:0;
	font-family: Helvetica;
	background-color: gray;
}
h1{
	font-weight: ;
	color: white;
}
#logo {
	height: 80px;
	width: 80px;
}
#container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	flex-direction: column;
}